/* Common Style */
body{
    font-family: 'Poppins', sans-serif;
    background: #F3F1FF;
}
main{
    display: flex;
    justify-content: center;
}
.container{
    background-color: #fff;
    width: 870px;
    padding: 30px;
}

/* Top player style */
.top-players{
    margin-bottom: 30px;
}
.section-title{
    font-size: 24px;
    color: #562EFF;
    margin-top: 3px;
}
.players{
    grid-row-gap: 29px;
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
}
.player{
    display: flex;
    gap: 16px;
    align-items: center;
}
.player-name{
    font-size: 18px;
    font-weight: 500;
}
.player img{
    width: 56px;
    height: 56px;
}

/* HR line */
hr{
    border: 1px solid rgb(184, 184, 184);
}