/* Common Style */
body{
    font-family: 'Poppins', sans-serif;
    background: #F3F1FF;
}
main{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container{
    background-color: #fff;
    width: 870px;
    padding: 30px;
    margin-top: 21px;
    border-radius: 5px;
}

/* Top player style */
.top-players{
    margin-bottom: 30px;
}
.section-title{
    font-weight: 600;
    font-size: 24px;
    color: #562EFF;
    margin-top: 3px;
}
.players{
    grid-row-gap: 29px;
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
}
.player{
    display: flex;
    gap: 16px;
    align-items: center;
}
.player-name{
    font-size: 18px;
    font-weight: 500;
}
.player img{
    width: 56px;
    height: 56px;
}

/* HR line */
hr{
    border: 1px solid rgb(184, 184, 184);
}

/*-------------
 Top Blog's Style 
 --------------*/
 .top-blogs{
    margin-top: 30px;
 }
 .blogs{
    gap: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
 }
.blog{
    display: flex;
}
.blog-info{
    margin-top: -22px;
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
    font-weight: 500;
}
.blog-author{
    color: #9f9f9f;
}
.author{
    color: #562EFF;
    font-weight: 400;
}
.thumnail img{
    width: 177px;
    height: 117px;
}
